@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="center-text"> Welcome to Car Rental</h1>
    <div class="row">
    
         <div class="col s12">
              <img class="homeImg" src="~/img/banner.jpg">
         </div>
        
    </div>